data/ORNL Model America/
data/RESSTD/
scripts/main/output/
scripts/uniform/output
scripts/main/randomized_idfs/
scripts/uniform/randomized_idfs/
scripts/tools/variable extraction/heating_objects_dataset.csv
scripts/main/eplus1.sh
scripts/main/eplus2.sh
logs/
scripts/main/analysis/combined_sims.csv/
scripts/main/analysis/combined_sims.csv
scripts/main/analysis/
scripts/main/params/.DS_Store
scripts/main/params/
